:root {
    --blue: #2FBCEB;
    --dark: #202F37;
    --pink: #FF7FB8;
    --gray: #707C83;
    --green: #9DFF00;
    --light: #e4e3d1;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: var(--dark);
}

.sideMenu {
    background: gainsboro;
    width: 250px;
    height: 100vh;
}

.sideMenu .title {
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 15px;
}

.sideMenu a {
    color: var(--dark);
    text-decoration: none;
    display: block;
    padding: 2px 25px;
    cursor: pointer;
}

.sideMenu ul {
    list-style: none;
    padding: 0;
    font-size: 22px;
}

.sideMenu ul li {
    margin: 5px 0;
}

.sideMenu a:hover, .sideMenu a .active {
    color: var(--light);
    background: var(--blue);
}

body {
    background: #EEEEEE;
    display: flex;
}

.main-content {
    height: 100vh;
    flex: 1;
    overflow: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader {
    animation: bounce 2s ease-in-out infinite alternate, spin 2s linear infinite;
    font-size: 100px;
    color: var(--gray);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0% { margin-bottom: 0; }
    100% { margin-bottom: 400px; }
}

.errorAjax {
    font-size: 100px;
    color: var(--gray);
}

.pad-content {
    padding: 0 15px;
}

/* --------------------- */
.file-upload {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    height: auto;
}

.file-upload .progress-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.file-upload .progress-text {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    z-index: 2;
    width: 100%;
    text-shadow: 0 0 5px black;
    color: white;
}

.dragable-n-loading {
    width: 100%;
}

.dragable-n-loading th, .dragable-n-loading td {
    text-align: center;
    padding: 5px;
    word-break: break-all;
}

.dragable-n-loading td:nth-child(2) {
    text-align: left;
}

.dragable-n-loading td:nth-child(3) {
    min-width: 350px;
}

.dragable-n-loading td:first-child, .dragable-n-loading td:last-child {
    width: 40px;
}

.dragable-n-loading td:first-child {
    cursor: all-scroll;
}

.dragable-n-loading td:last-child:hover {
    cursor: pointer;
    color: var(--pink);
}

.dragable-n-loading tr, .movielist tr {
    border-bottom: 1px solid #ddd;
    padding: 0 5px;
}

.dragable-n-loading td input[type=file] {
    display: none;
}

.convert .add-upload, .upload .add-upload {
    vertical-align: middle;
    margin-left: 15px;
}

.convert h1, .upload h1 {
    display: inline-block;
    vertical-align: middle;
}

.drag-on-bottom {
    box-shadow: 0px 7px 10px -5px var(--blue);
}

.drag-on-top {
    box-shadow: 0px -7px 10px -5px var(--blue);
}

/* --------------------- */

.convert h3 {
    display: inline-block;
    vertical-align: middle;
}

.play-convert, .stop-convert {
    padding: 3px 15px; 
}


.movielist td, .movielist th {
    text-align: center;
    height: 40px;
    padding: 0 5px;
}

.movielist td:first-child {
    word-break: break-all;
    text-align: left;
}

.movielist .date {
    width: 150px;
}

.movielist .size {
    width: 110px;
}

.movielist {
    width: 100%;
}

.movielist tbody tr:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.movielistcontainer {
    width: 50%;
    overflow-y: auto;
}

.cont {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.cont hr {
    width: 100%;
}

.convert-top {
    flex: 1;

    display: flex;
    justify-content: space-between;
}

.convert-bottom {
    flex: 1;
}

.details {
    width: 45%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.details h2 {
    word-break: break-all;
    font-size: 20px;
}

.streams-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.streams-controls {
    display: flex;
    justify-content: space-between;
}

.stream {
    display: flex;
    align-items: center;

    padding: 5px;
    margin: 3px 0px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    
    cursor: pointer;
}

.stream.select {
    background-color: var(--blue);
}

.stream:hover {
    background-color: var(--pink);
}

.stream i {
    font-size: 30px;
    margin: 0 10px 0 5px;
}

.stream-details {
    flex: 1;
}