@font-face {
    font-family: 'maxlf-regularregular';
    src: url('http://176.31.101.163/assets/font/maxlf-regular-webfont.woff2') format('woff2'),
         url('http://176.31.101.163/assets/font/maxlf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    width: 100%;
    background: #202F37;
    margin: 0;
    color: #e4e3d1;
    font-family: Maxlf, "Segoe UI", Arial, sans-serif;
}

input, textarea {
    line-height: 1;
}

.msgbox {
    margin: auto;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.msgbox .msg {
    width: 100%;
    padding: 2px 5%;
    box-sizing: border-box;
}

.msgbox .msg.info {
    color: #FF7FB8;
}

.msgbox .video-info {
    color: #2FBCEB;
}

.msgbox .msg:nth-child(even) {
    background: rgb(50, 64, 71);
}

textarea {
    width: 100%;
}

.video-js {
    margin: auto;
}

.flexBoxCont {
    background: #2A3941;
    display: flex;
    align-items: stretch;
}

.takePlace {
    flex: 1;
}

.option {
    padding: 5px 10px;
    border-left: dashed 4px #202F37;
}

.option input[type=submit] {
    display: none;
}

.option .changeVideo {
    width: 100%;
}

#videoClub .modal-content {
    background: #202F37;
}

#videoClub .choice {
    background: #2A3941;
    cursor: pointer;
}

#videoClub .choice:nth-child(even) {
    background: rgb(50, 64, 71);
}