@font-face {
    font-family: 'maxlf-regularregular';
    src: url('http://176.31.101.163/assets/font/maxlf-regular-webfont.woff2') format('woff2'),
         url('http://176.31.101.163/assets/font/maxlf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    width: 100%;
    background: #202F37;
    margin: 0;
    color: #e4e3d1;
    font-family: Maxlf, "Segoe UI", Arial, sans-serif;
}

input, textarea {
    line-height: 1;
}

.msgbox {
    margin: auto;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.msgbox .msg {
    width: 100%;
    padding: 2px 5%;
    box-sizing: border-box;
}

.msgbox .msg.info {
    color: #FF7FB8;
}

.msgbox .video-info {
    color: #2FBCEB;
}

.msgbox .video-title {
    color: #9DFF00;
}

.msgbox .msg:nth-child(even) {
    background: rgb(50, 64, 71);
}

textarea {
    width: 100%;
}

.video-js {
    margin: auto;
}

.flexBoxCont {
    background: #2A3941;
    display: flex;
    align-items: stretch;
}

.takePlace {
    flex: 1;
}

.option, .ulistBloc {
    padding: 5px 10px;
    width: 250px;
}

.option {
    border-left: dashed 4px #202F37;
}

.ulistBloc {
    border-right: dashed 4px #202F37;
    overflow-y: auto;
}

.ulistBloc .usersList {
    padding-left: 10px;
}

.ulistBloc .usersList li {
    list-style: none;
    font-weight: bold;
}

.ulistBloc .usersList li.self {
    color: #2FBCEB;
}

.option input[type=submit] {
    display: none;
}

.option .changeVideo, .option .changeVideoYT, .option .btn-group, .option .playlist  {
    width: 100%;
    margin-bottom: 2px;
}

.option .playP, .option .playN {
    width: 50%;
}

#videoClub .modal-content, #videoClubYT .modal-content, #playlist .modal-content {
    background: #202F37;
}

#videoClub .modal-body, #playlist .modal-body {
    padding: 0;
}

#videoClub .choice, #playlist .playVid {
    padding: 10px 20px;
    vertical-align: middle;
    background: #2A3941;
    cursor: pointer;
}

#videoClub .choice:hover, #playlist .current {
    font-weight: bold;
    color: #9DFF00;
}

#videoClub .choice:nth-child(even), #playlist .playVid:nth-child(even) {
    background: rgb(50, 64, 71);
}

#playlist .playVid img {
    max-height: 25px;
    max-width: 25px;
    margin-right: 10px;
}

.modal-content .close {
    color: #e4e3d1;
    text-shadow: none;
}

.modal-content .close:hover {
    color: #2FBCEB;
}

.self {
    color: #9DFF00;
}

.offline {
    color: #FF7FB8;
}