.video-js .vjs-side-playlist-button {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 22px;
    color: #eee;
    background-color: rgba(60, 60, 60, 0.5);
    padding: 10px;
    line-height: 1em;
    border-radius: 15%;
    width: auto;
    height: auto;
    cursor: pointer;

    transition: visibility 1s,opacity 1s;
}

.video-js .vjs-side-playlist-button:hover {
	text-shadow: 0 0 .3em rgba( 255,255,255,0.8);
    background: rgba(60, 60, 60, 0.8);
}

.video-js.vjs-user-inactive .vjs-side-playlist-button {
    visibility: hidden;
    opacity: 0;
}

.video-js.vjs-paused .vjs-side-playlist-button {
    visibility: visible;
    opacity: 1;
}

/* Playlist overlay */

.vjs-side-playlist-overlay {
    width: 0;
    background-color: #202F37;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}

.vjs-side-playlist-content {
    width: 450px;
}

.vjs-side-playlist-content h2 {
    padding: 10px 20px;
}

.vjs-side-playlist-content h2 i {
    margin-right: 15px;
    cursor: pointer;
}

.vjs-side-playlist-item {
    font-size: 14px;
    padding: 10px 20px;
    background: #2A3941;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: flex-start;
}

.vjs-side-playlist-item.current .title{
    color: #9DFF00;
}

.vjs-side-playlist-item:nth-child(even) {
    background: rgb(50, 64, 71);
}

.vjs-side-playlist-item .close {
    font-size: 18px;
    color: #e4e3d1;
    text-shadow: none;
}

.vjs-side-playlist-item .close:hover {
    color: #2FBCEB;
}

.vjs-side-playlist-item .thumb-containeur {
    width: 130px;
    height: 75px;
    margin-right: 10px;
    background: black;
    display: flex;
    justify-content: center;
    position: relative;
}

.vjs-side-playlist-item .thumb-containeur img {
    max-height: 100%;
    max-width: 100%;
}

.vjs-side-playlist-item .thumb-containeur .time{
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
}

.vjs-side-playlist-item .text-containeur {
    display: inline-block;
    flex: 1;
}

.vjs-side-playlist-item .text-containeur .title {
    font-weight: bold;
}

.vjs-side-playlist-item .text-containeur .contributor {
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-top: 10px;
}