<script type="text/javascript" src="/public/js/admin/convert.js"></script>

<div class="convert pad-content">
    <h1>Convert</h1>

    <div class="cont">
        <div class="convert-top">
            <div class="movielistcontainer">
                <table class="movielist">
                    <thead><tr><th>File</th><th class="size">Size</th><th class="date">Date</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="details">
                <h2></h2>
                <div class="streams-list"></div>
                <div class="streams-controls">
                    <button type="button" class="btn btn-success extract-all"><i class="fas fa-rocket"></i> Extract All</button>
                    <button type="button" class="btn btn-info extract"><i class="fas fa-cut"></i> Extract</button>
                    <button type="button" class="btn btn-primary gather-all"><i class="fas fa-hospital"></i> Gather All</button>
                    <button type="button" class="btn btn-danger gather"><i class="fas fa-handshake"></i> Gather</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="convert-bottom">
            <h3>Convertion en cours</h3>

            <button type="button" class="btn btn-success play-convert"><i class="fas fa-play"></i> Play</button>
            <button type="button" class="btn btn-danger stop-convert"><i class="fas fa-stop"></i> Stop</button>

            <div class="convert-list">
                <table class="dragable-n-loading">
                    <thead>
                        <tr>
                            <th></th>
                            <th>File</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>