<script type="text/javascript" src="/public/js/admin/upload.js"></script>

<div class="upload pad-content">
    <h1>Upload</h1>

    <button type="button" class="btn btn-info add-upload"><i class="fas fa-rocket"></i> Add File To Upload</button>
    <button type="button" class="btn btn-success play-upload"><i class="fas fa-play"></i> Play</button>
    <button type="button" class="btn btn-danger stop-upload"><i class="fas fa-stop"></i> Stop</button>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>File</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>